.score-card {
    border: solid 2px rgb(110, 216, 110);
    width: 20vw;
    height: auto;
    margin: 10px 10px;
    height: 176px;
    width: 275px;
}
.scores {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.score-div{
    display: flex;
    flex-flow: column;
    height: 400px;
    overflow: scroll;
    scroll-behavior: smooth;
}

