@keyframes bigole {
    from {opacity: 0;}
    to {opacity: 100%;}
}
@keyframes gojary {
    from {}
}
@keyframes scrollin {
    from {flex-flow: column}
    to {flex-flow: column-reverse}
}
.score-card {
    border: solid 2px rgb(110, 216, 110);
    width: 20vw;
    height: auto;
    margin: 10px 10px;
    height: 176px;
    width: 275px;
    
    /* animation: bigole 5s infinite; */
    animation-timing-function: linear;
}
/* trial */
.scores {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

}
.score-div{
    display: flex;
    flex-flow: column;
    height: 400px;
    overflow: scroll;
    scroll-behavior: smooth;
    



    /* animation: scrollin 5s infinite; */
}

