body {
  background-color: rgb(82, 82, 82);
  color: rgb(110, 216, 110);
  position: absolute;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30vw;
  margin-left: 35vw;
  margin-right: 35vw;
}
a {
  color: #ffffff;
}
footer {
  height: 5vh;
  font-size: 25%;
}
nav {
  height: 5vh;
}
button{
  z-index: 5;
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.body {
  height: 550px;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 650px 1fr;
  grid-template-rows: 1fr 450px repeat(7, 1fr);
}
.title {
  grid-area: 1/2/2/3
}
.corey {
  grid-area: 2/3/3/4;
}
.timer {
  grid-area: 2/1/3/2;
}
.game-board {
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: 650px;
  height: 450px; 
  z-index: auto;
}
.image-grid {
  height: 50px;
  width: 50px;
  margin: 0 0 -3px 0;
  padding: 0 0;
  z-index: auto;
  
}
.left-board {
  grid-row: 1/10;
  grid-column: 1/2;
  width: 100px;
  height: auto;
  background-color: #663300;
}
.right-board {
  grid-row: 1/10;
  grid-column: 11/12;
  width: 100px;
  height: auto;
  background-color: #663300;
}
.center-board {
  grid-area: 1/2/10/11;
}

.hidden {
  visibility: hidden; 
  z-index: -1;
}
.show {
  grid-area: 3/4/4/9;
  background-color: black;
  display: flex;
  flex-flow: column;
  opacity: .75;
  z-index: 3;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
