body {
  background-color: rgb(82, 82, 82);
  color: rgb(110, 216, 110);
  position: absolute;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30vw;
  margin-left: 35vw;
  margin-right: 35vw;
  height: 5vh;
  font-size: x-small;
}
a {
  color: #ffffff;
}
footer {
  height: 5vh;
  font-size: 25%;
}
button{
  z-index: 5;
}
.App {
  text-align: center;
}
.body {
  height: 550px;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 650px 1fr;
  grid-template-rows: 1fr 450px repeat(7, 1fr);
}
.title {
  grid-area: 1/2/2/3;
}
.corey {
  grid-area: 2/3/3/4;
}
.timer {
  grid-area: 2/1/3/2;
}
.game-board {
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: 650px;
  height: 450px; 
}
.image-grid {
  height: 50px;
  width: 50px;
  margin: 0 0 -3px 0;
  padding: 0 0;
}
.chicken {
  height: 50px;
  width: 50px;
}
.helicopter {
  height: 50px;
  width: 50px;
}
.chicken-avatar {
  height: 50px;
  width: 50px;
  z-index: 5;
  padding: 2px 2px;
  margin: 5px 5px;
}
.vehicle {
  height: 50px;
  width: 50px;
}
.left-board {
  grid-row: 1/10;
  grid-column: 1/2;
  width: 100px;
  height: auto;
  background-color: #663300;
}
.right-board {
  grid-row: 1/10;
  grid-column: 11/12;
  width: 100px;
  height: auto;
  background-color: #663300;
}
.right-board-left {
  grid-row: 1/10;
  grid-column: 1/2;
  width: 100px;
  height: auto;
  background-color: #663300;
}
.left-board-left {
  grid-row: 1/10;
  grid-column: 11/12;
  width: 100px;
  height: auto;
  background-color: #663300;
}
.center-board {
  grid-area: 1/2/10/11;
}
.hidden {
  visibility: hidden; 
  grid-area: 3/4/4/9;
}
.show {
  grid-area: 3/4/4/9;
  background-color: black;
  display: flex;
  flex-flow: column;
  align-items: center;
  opacity: .75;
  z-index: 3;
  padding-bottom: 5px ;
}
.div-avatar{
  padding: 2px 2px;
  margin: 5px 5px;
}
.handed-show {
  visibility: hidden;
}
.handed-hidden {
  visibility: hidden;
}
.instructions{
  width: 40vw;
  border: solid 2px rgb(110, 216, 110);
  margin: 10px 30vw 5px 30vw;
}

@media (max-width: 850px) {
  nav {
    height: 2vh;
    font-size: x-small;
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
  }
  .body {
    height: 550px;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 415px 1fr;
    grid-template-rows: 1fr 315px repeat(7, 1fr);
  }
  button{
    font-size: xx-small;
    text-align: center;
    padding: 0 0;
  }
  .arrows {
    width: 20px;
  }
  .title {
    font-size: small;
  }
  .game-board {
    height: 315px; 
    width: 415px;
  }
  .image-grid {
    height: 35px;
    width: 35px;
  }
  .chicken {
    height: 35px;
    width: 35px;
  }
  .vehicle {
    height: 35px;
    width: 35px;
  }
  .left-board {
    grid-row: 1/10;
    grid-column: 1/2;
    width: 50px;
    height: auto;
    background-color: #663300;
  }
  .right-board {
    grid-row: 1/10;
    grid-column: 11/12;
    width: 50px;
    height: auto;
    background-color: #663300;
  }
  .right-board-left {
    grid-row: 1/10;
    grid-column: 1/2;
    width: 50px;
    height: auto;
    background-color: #663300;
  }
  .left-board-left {
    grid-row: 1/10;
    grid-column: 11/12;
    width: 50px;
    height: auto;
    background-color: #663300;
  }
  .div-avatar {
    height: 100px;
    width: 200px;
  }
  .chicken-avatar {
    height: 30px;
    width: 30px;
  }
  .helicopter {
    height: 30px;
    width: 30px;
  }
  .handed-show {
    visibility: visible;
    grid-area: 3/2/4/3;
    background-color: black;
    opacity: .75;
    width: 215px;
    margin: 10px;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 5px ;
  }
  .handed-hidden {
    visibility: hidden;
    grid-area: 3/2/4/3;
  }
  .instructions{
    width: 70vw;
    border: solid 2px rgb(110, 216, 110);
    margin: 10px 15vw 5px 15vw;
    font-size: x-small;
  }
}
