body {
  background-color: rgb(82, 82, 82);
  color: rgb(110, 216, 110);
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30vw;
  margin-left: 35vw;
  margin-right: 35vw;
}
a {
  color: #ffffff;
}
footer {
  height: 5vh;
}
nav {
  height: 5vh;
}
.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.body {
  height: 90vh;
}
.game-board {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  width: 500px;
  height: 500px; 
}
img {
  height: 5vh;
  width: 5vh;
  margin: 0 0 0 0;
  padding: 0 0;
  
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
